@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');

#app {
  display: flex;
}

svg:hover {
  filter: brightness(1.5);
}

ul {
  padding: 0;
  margin: 0;
}

// width
$lenLight: 3px;
$lenMin: 5px;
$lenMediumMin: 8px;
$lenDefault: 12px;
$lenMediumMax: 14px;
$lenMax: 17px;
$lenBig: 20px;

// color
$colorBlack: #1E2527;
$colorBlackGray: #252C2F;
$colorGray: #2F393D;
$colorWhite: #D9D9D9;
$colorGradient: linear-gradient(to bottom right, #00B2FF, #8000FF);
$colorGradientUni: hsl(248, 78%, 58%);

// tile
$timeMin: 0.1s;
$timeMediumMin: 0.3s;
$timeDefault: 0.5s;
$timeMediumMax: 0.7s;
$timeMax: 1s;

.filter-dark {
  filter: hue-rotate(180deg) invert(1) saturate(1.2);
  transition: filter $timeMediumMin ease-in-out;
}

.hover {
  &:hover {
    background-color: $colorGray;
    border-radius: $lenMediumMin;
    filter: brightness(1.25);

    transition: color $timeMediumMin ease-in-out;
  }
}

.input {
  background-color: $colorBlackGray;
  border-radius: $lenMediumMin;
  border: none;
  width: calc(100% - 2 * $lenMediumMin);
  padding: $lenMediumMin;
  color: $colorWhite;
  text-align: center;

  &:focus {
    outline: none;
    border: none;
  }
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.autoSize {
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  flex: 1;
  padding: 0;
  margin: 0;
}

.splitBy2 {
  min-height: 100%;
  min-width: calc(50% - $lenLight);
}

.splitBy3 {
  min-height: 100%;
  min-width: calc(33% - $lenLight);
}

.splitBy4 {
  min-height: calc(50% - $lenLight);
  min-width: calc(50% - $lenLight);
}

.vertical {
  flex-direction: column;

  * {
    flex-direction: column;
  }
}

.flexWarp {
  flex-wrap: wrap;
}

.flexColumn {
  flex-direction: column;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.flexBetween {
  justify-content: space-between;
}

.gradientBorder {
  background: $colorGradient;
  border-radius: $lenDefault;
  padding: 0 0 $lenMin 0;
  margin: $lenMin 0;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.listNone {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity $timeMediumMin;
}

.hidden, .hidden * {
  display: block !important;

  height: 0 !important;
  width: 0 !important;
  min-height: 0 !important;
  min-width: 0 !important;
  max-height: 0 !important;
  max-width: 0 !important;

  padding: 0 !important;
  margin: 0 !important;

  visibility: hidden !important;
  opacity: 0 !important;

  p, h1, h2, h3, h4, h5, h6, a, label, span {
    display: none !important;
  }
}

.paddingLeft {
  padding-left: $lenMediumMax;
}

.padding {
  padding: $lenMin;
}

.paddingIn {
  padding: calc($lenMin + $lenLight);
}

.content {
  background: $colorBlack;
  border-radius: $lenDefault;
  padding: $lenLight;
  width: calc(100% - $lenLight * 2);
}

label, span, input {
  user-select: none;
  padding: 0;
  margin: 0;
  font-size: $lenDefault;
  text-wrap: none;
}

svg, span, label {
  filter: none;
  color: $colorWhite;
  transition: color $timeMediumMin ease-in-out;

  &.clicked {
    color: $colorGradientUni;
    transition: color $timeMediumMin ease-in-out;
  }
}

.hoverClickable {
  padding: $lenMin;
  margin: $lenLight;
  &:hover {
    filter: brightness(0.7);
    background: $colorBlackGray;
    border-radius: $lenMin;
  }
}

svg {
  padding: 0;
  margin: 0;
  height: $lenMediumMax;
  color: $colorWhite;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $colorBlack;
  color: $colorWhite;
}

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: $lenMediumMin;
  padding: 0;
}

label, span {
  margin: 0 0 0 $lenMediumMin;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p, a, label, span {
  font-size: $lenDefault;
  text-decoration: none;
}